#game_panel {
    -fx-pref-width: 1000.0;
    -fx-pref-height: 950.0;
    -fx-min-width: 0;
    -fx-min-height: 0;
}
#game_board {
    -fx-background-color: red;
}
#play_pane {
    -fx-translate-y: 170;
    -fx-max-height: 30;
    -fx-max-width: 180;
}
#prev {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-background-image: url("../images/control/prev.png");
}
#next {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-background-image: url("../images/control/next.png");
    -fx-translate-x: 60;
}
#play {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-background-image: url("../images/control/play.png");
    -fx-translate-x: 20;
}
#pause {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-background-image: url("../images/control/pause.png");
    -fx-translate-x: 50;
}
#save_game {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-background-image: url("../images/control/save.png");
    -fx-translate-x: -20;
    -fx-translate-y: 20;
    -fx-opacity: 0.6;
}
#save_game:hover {
    -fx-opacity: 1;
}